html{
    font-size: 13.33333vw;
}
html,body{
    height: 100%;
}
#app{
    font-size: 0.2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom:0.99rem;
    padding-top:1rem;
}

.footerCon{
    height: 0.99rem;
    border-top: #efefef solid 1px ;
    /* background-color: palegreen; */
}
.footerCon ul{
    height: 0.99rem;
    display: flex;
    
}
